* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper {
    width: 450px;
    height: 550px;
    background-color: rgb(16, 194, 248);
    border-radius: 15px;
    padding: 20px;
}
.tasks {
    border: 2px solid #fff;


}





